@{
    ViewData["Title"] = "Map Demo Page";
}

<div class="main-layout-container"
     data-controller="Home"
     data-init="mapdemo"
     data-script="mapdemo"
     data-module-base="/js/views/"
     data-style-base="/css/views/">

    <section class="container py-3">
        <div class="row g-3">
            <div class="col-12 col-xl-6">
                <div class="map-wrap" style="width:100%;height:600px">
                    <div id="map1" style="width:100%;height:100%"
                         data-center-lon="7.466" data-center-lat="51.51494" data-zoom="11"></div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="map-wrap" style="width:100%;height:600px">
                    <div id="map2" style="width:100%;height:100%"
                         data-center-lon="6.960" data-center-lat="50.938" data-zoom="11"></div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="map-wrap" style="width:100%;height:600px">
                    <div id="map3" style="width:100%;height:100%"
                         data-center-lon="6.773" data-center-lat="51.227" data-zoom="11"></div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="map-wrap" style="width:100%;height:600px">
                    <div id="map4" style="width:100%;height:100%"
                         data-center-lon="13.404" data-center-lat="52.520" data-zoom="10"></div>
                </div>
            </div>
        </div>

        <script src="/js/pageLoader.js" type="module"></script>
    </section>
</div>
